/********************************************************************************
	File Name:
		thc-style.css
	Description:
		Contains styling for the Treasure Hunt Web App.
*********************************************************************************/


/********************************************************************************
								BASIC STYLING
*********************************************************************************/


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgba(119, 136, 153, 0.5);
}

header {
    background-color: rgba(119, 136, 153, 0.6);
    color: black;
    padding: 2px;
    position: fixed;
    top: 0; /* Aligns the header to the top of the viewport */
    text-align: center;
    width: 100%;
    height: 130px;
}

header p {
    font-size: 20px;
}

/* Styling for the navigation bar list */
nav ul {
    list-style: none;
    display: flex;
    margin-top: -70px;
    margin-left: 1450px;
}

/* Styling for navigation links */
nav a {
    color: black;
    font-size: 20px;
    text-decoration: none;
    transition: 0.5s all ease;
    padding: 10px;
}

ul li {
    list-style: none;
    text-align: right;
}


ul li a:hover {
    color: darkblue ;
}

@media (max-width: 768px) {
    /* Styles for the navigation menu */
    nav ul {
        display: none; /* Hide the navigation menu initially */
        width: 100%;
        margin: 0;
        padding: 0;
        background: #333; /* Menu background color */
    }
    nav ul li {
        display: block; /* Stack list items vertically */
        text-align: center;
        border-bottom: 1px solid #fff; /* Add a border to separate menu items */
    }
    nav ul li a {
        display: block;
        padding: 10px; /* Larger touch area for links */
        color: white; /* Menu link color */
    }
    /* Style for the menu icon (e.g., hamburger icon) */
    .menu-icon {
        cursor: pointer;
        display: block; /* Show the menu icon */
        text-align: center;
        font-size: 30px; /* Icon size */
        padding: 10px;
        background: #333; /* Icon background color */
        color: white; /* Icon color */
    }
}

#menuButton {
    display: none; /* Hidden by default */
    position: absolute; /* Position relative to its nearest positioned ancestor */
    left: 0; /* Align to the left */
    top: 100%; /* Place it right below the header (100% of the header's height) */
    background-color: #333; /* Background color */
    color: #fff; /* Text/icon color */
    padding: 10px; /* Spacing around the text/icon */
    cursor: pointer; /* Pointer cursor to indicate clickable item */
}

/* Styles for mobile devices */
@media (max-width: 600px) {
    /* Button appears below the header */
    #menuButton {
        display: block;
        position: absolute;
        top: 100%; /* Directly below the header element */
        left: 0;
        background-color: #333;
        color: white;
        padding: 10px;
        width: 100%; /* Full width */
        text-align: left;
        border: none;
        font-size: 1em;
    }

    /* Navigation menu is a vertical layout */
    nav ul {
        display: none; /* Hidden by default */
        flex-direction: column; /* Stack items vertically when menu is active */
        width: 100%; /* Full width */
        position: absolute;
        top: 100%; /* Directly below the header element */
        left: 0;
        background-color: #333;
    }

    /* Show navigation when 'active' class is applied */
    nav ul.active {
        display: flex;
    }

    nav ul li {
        text-align: left;
        display: block; /* Stack items vertically */
    }

    nav ul li a {
        display: block;
        color: white;
        padding: 10px;
        text-decoration: none;
    }
}


.clearFloat {
    clear: both;
}

#container {
    display: none;
    margin-top: 60px;
}

@media only screen and (max-width: 240px) {
    #container {
        margin-top: 50px
    }
}

#question {
    text-align: center;
}

/*** STICKY HEADER ***/
.header {
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1000;
}

.bubble {
    border: 2px solid red;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    width: 80%;
    max-width: 500px;
}

@media only screen and (max-width: 320px) {
    p {
        font-size: 70%;
    }
}

#message {
    color: red;
    text-decoration: blink;
}

.content { /*intentionally empty*/
}

.disabled {
    color: grey;
    cursor: not-allowed;
    padding: 5px;
}

@media only screen and (min-width: 1024px) {
    .disabled {
        padding: 15px;
    }
}

#score {
    color: orange;
    float: left;
    padding-left: 3px;
}

p {
    transition: 0.5s;
    animation: ease-in;
}

#isLocationRelevant {
    display: none;
    color: red;
    text-decoration: underline;
}

@media only screen and (max-width: 320px) {
    small {
        font-size: 70%;
    }
}

/********************************************************************************
									IMAGES
*********************************************************************************/

.pirateImage {
    margin: auto;
}

@media only screen and (max-width: 320px) {
    .pirateImage {
        width: 30%;
    }
}

@media only screen and (min-width: 1024px) {
    .pirateImage {
        width: auto;
    }
}

#categoriesPirateImage {
    width: 20%;
}

@media only screen and (min-width: 1024px) {
    #categoriesPirateImage {
        width: auto;
    }
}

#registerPirateImage {
    width: 20%;
    float: left;
}

@media only screen and (min-width: 1024px) {
    #registerPirateImage {
        width: auto;
    }
}

#questionsPirateImage {
    width: 20%;
    float: left;
}

@media only screen and (min-width: 1024px) {
    #questionsPirateImage {
        width: auto;
    }
}

#gappsBadge {
    display: none;
}

.gappsBadgeImage {
    width: 50%;
    max-width: 250px;
}

.aboutImage {
    width: 100%;
    max-width: 200px;
}

.codeCyImage {
    width: 100%;
    max-width: 300px;
}

/********************************************************************************
								TOP NAVIGATION BAR
*********************************************************************************/

ul.topNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #D8D8D8;
}

ul.topNav li {
    float: left;
    border-left: 1px solid #CCCCCC;
}

@media only screen and (max-width: 320px) {
    ul.topNav li {
        font-size: 70%;
    }
}

ul.topNav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

ul.topNav li a:hover:not(.active) {
    background-color: #8C8C8C;
}

.topNavImage {
    float: left;
    margin: 5px;
    margin-right: 2px;
}

@media only screen and (max-width: 320px) {
    .topNavImage {
        max-height: 20px;
    }
}

.codeCy {
    float: left;
    margin: 8px;
    margin-left: 1px;
    margin-right: 1px;
}

/********************************************************************************
								SESSION INFO BANNER
*********************************************************************************/

ul.scoreBanner {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: rgba(0, 0, 0, 0.15);
}

ul.scoreBanner li {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

ul.scoreBanner li a {
    display: block;
    color: black;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

ul.scoreBanner li a:hover:not(.active) {
    background-color: #8C8C8C;
}

.scoreBannerImage {
    float: left;
    width: 40%;
    height: 100%;
    max-width: 120px;
    max-height: 80px;
    margin: 4px;
}

/********************************************************************************
									BUTTONS
*********************************************************************************/

.THCButton {
    background-color: rgba(0, 0, 0, 0.45);
    border: 1px solid white;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 2px 2px 10px black;
    transition: 1s;
}

.THCButton:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

.THCButton:active {
    background-color: rgba(0, 0, 0, 1);
}

@media only screen and (min-width: 320px) {
    .THCButton {
        padding: 10px;
    }
}

@media only screen and (min-width: 1024px) {
    .THCButton {
        padding: 20px;
        font-size: 130%;
    }
}

@media only screen and (min-width: 1024px) {
    #skipBtn {
        padding: 10px 20px;
        display: inline-block;
        font-size: 15px;
        cursor: pointer;
        box-shadow: 2px 2px 10px black;
        transition: 1s;
        color: black;
        border: none;
        border-radius: 15px;
    }
}

.MCQ {
    width: 20%;
    margin: 2px;
    height: 50px;
}

@media only screen and (min-width: 1024px) {
    .MCQ {
        height: 100px;
        margin-top: 30px;
    }
}

.startButton {
    width: 80%;
    max-width: 300px;
}

.startImage {
    height: 30px;
    float: right;
}

#submitBtnText, #submitBtnInteger, #submitBtnNumber {
    padding: 10px 20px;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 10px black;
    transition: 1s;
    color: black;
    border: none;
    border-radius: 15px;
}

#skipBtn:hover, #submitBtnText:hover, #submitBtnInteger:hover, #submitBtnNumber:hover  {
    background-color: rgba(119, 136, 153, 0.6);
}

/********************************************************************************
									LISTS
*********************************************************************************/

/**** CATEGORY LISTS ****/

#categoryList {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    width: 98%;
    margin: auto;
    max-width: 600px;
    border-left: 1px solid #CFCFCF;
    border-right: 1px solid #CFCFCF;
    text-align: center;
}

/**** Styles inactive categories ****/
#categoryList li {
    border-bottom: 1px solid #CFCFCF;
}

@media only screen and (max-width: 320px) {
    #categoryList li {
        font-size: 80%;
    }
}

#categoryList li:last-child {
    border-bottom: none;
}

/**** Styles active categories ****/
#categoryList li a {
    display: block;
    color: #C30003;
    font-weight: 700;
    text-decoration: none;
    padding: 5px;
    transition: 0.5s;
}

@media only screen and (min-width: 1024px) {
    #categoryList li a {
        padding: 15px;
    }
}

#categoryList li a:hover {
    background-color: rgba(0, 0, 0, 0.25);
    color: red;
}

#categoryList li a:active {
    background-color: black;
    color: white;
}

/**** SCOREBOARD LISTS ****/

#scoreboardList {
    list-style-type: none;
    padding: 0px;
}

.noRadius {
    border-radius: 0 !important;
}

#scoreboardList li {
    border-bottom: 1px solid #CFCFCF;
    background-color: #0056b3;
    padding: 0px 10px;
}

#scoreboardList li:first-child {
    border-top: 1px solid #CFCFCF;
}

.rank {
    float: left;
    padding-left: 10px;
    font-size: 150%;
    font-weight: 700;
    position: relative;
    bottom: 18px;
    color: white;
}

.rankFix {
    bottom: -24px;
}

.currentPlayer {
    background-color: rgba(255, 255, 0, 0.75) !important;
}

.currentPlayer .rank {
    color: black;
}

.currentPlayer .playerName {
    color: black;
}

.currentPlayer .timeFinished {
    color: grey;
}

@media only screen and (max-width: 320px) {
    #scoreboardList li {
        font-size: 80%;
    }
}

.scoreBox {
    color: white;
    background-color: rgba(255, 0, 0, 1);
    border: 2px solid red;
    border-radius: 2px;
    display: inline;
    float: right;
    padding: 2px;
    margin-right: 5px;
    margin-bottom: 5px;
    position: relative;
    bottom: 27px;
}

.timeFinished {
    color: #CCC;
}

.playerName {
    font-weight: 700;
    padding-top: 25px;
    position: relative;
    top: 5px;
    color: white;
}

.playerRankingMiniScoreboard {
    padding: 10px;
    background-color: white;
}

/********************************************************************************
									BUBBLES
*********************************************************************************/

#categoriesBubble {
    width: 60%;
    margin: 10px;
    max-width: 250px;
}

#registerBubble {
    font-size: 100%;
    width: 60%;
    max-width: 300px;
    margin: 10px;
    float: left;
    position: fixed;
    top: 160px;
}

#questionBubble {
    font-size: 100%;
    width: 60%;
    max-width: 300px;
    margin: 10px;
}

.instructions{
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; /* Horizontally centers the text */
    height: 160px; /* Example height, adjust as needed */
}

.registerForm {
    margin-top: 150px;
}



/********************************************************************************
									FORMS
*********************************************************************************/

#mcqForm {
    display: none;
}

#textForm {
    display: none;
}

#booleanForm {
    display: none;
}

#integerForm {
    display: none;
}

#numberForm {
    display: none;
}

#registerPiratesForm {
    text-align: center;
}

input[type=text] {
    width: 95%;
    background-color: white;
    padding: 2px 4px;
    margin: 2px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #0087C0;
    border-radius: 4px;
    max-width: 400px;
}

input[type=number] {
    width: 95%;
    background-color: white;;
    padding: 2px 4px;
    margin: 2px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #0087C0;
    border-radius: 4px;
    max-width: 400px;
}

input:focus {
    outline: 0;
}

@media only screen and (min-width: 320px) {
    input[type=text] {
        padding: 12px 20px;
        margin: 8px 0;
        font-size: 110%;
    }

    input[type=number] {
        padding: 12px 20px;
        margin: 8px 0;
        font-size: 110%;
    }
}

input[type=email] {
    width: 95%;
    background-color: transparent;
    padding: 2px 4px;
    margin: 2px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #0087C0;
    border-radius: 4px;
    max-width: 400px;
}

@media only screen and (min-width: 320px) {
    input[type=email] {
        padding: 12px 20px;
        margin: 8px 0;
        font-size: 110%;
    }
}

input {
    transition: 1s;
}

select {
    width: 95%;
    background-color: transparent;
    border-radius: 10px;
    max-width: 400px;
    padding: 2px 4px;
}

@media only screen and (min-width: 320px) {
    select {
        padding: 12px 20px;
        margin: 8px 0;
        font-size: 110%;
    }
}

/********************************************************************************
								PLACEHOLDERS
*********************************************************************************/
input::-webkit-input-placeholder {
    font-style: italic !important;
}

input:-moz-placeholder {
    font-style: italic !important;
}

input::-moz-placeholder {
    font-style: italic !important;
}

input:-ms-input-placeholder {
    font-style: italic !important;
}

/********************************************************************************
								MODALS/DIALOGS
*********************************************************************************/

.modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px;
}

.closebtn {
    text-decoration: none;
    float: right;
    font-size: 24px;
    font-weight: bold;
    color: inherit;
}

.closebtn:hover, .closebtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer
}

@media (max-width: 600px) {
    .modal-content {
        margin: 0 10px;
        width: auto !important;
    }

    .modal {
        padding-top: 30px;
    }
}

@media (max-width: 768px) {
    .modal-content {
        width: 500px;
    }

    .modal {
        padding-top: 50px;
    }
}

@media (min-width: 993px) {
    .modal-content {
        width: 900px;
    }
}

.scoreboardBottomPadding {
    padding: 0;
}

@media (max-height: 640px) {
    .scoreboardBottomPadding {
        padding-bottom: 50px;
    }
}

.modalContainer {
    padding: 0.01em 16px;
}

.modalContainer:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important
}

.hasBackground {
    color: #fff !important;
    background-color: #636363 !important;
    border: 1px solid white;
}

/********************************************************************************
									ANIMATIONS
*********************************************************************************/
.animate-top {
    position: relative;
    -webkit-animation: animatetop 0.4s;
    animation: animatetop 0.4s
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 0;
        opacity: 1;
    }
}

.closebtn {
    -webkit-transition: background-color .3s, color .15s, box-shadow .3s, opacity 0.3s;
    transition: background-color .3s, color .15s, box-shadow .3s, opacity 0.3s
}

/********************************************************************************
								TOASTS/SNACKBARS
*********************************************************************************/

.paper-snackbar {
    transition-property: opacity, bottom, left, right, width, margin, border-radius;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    font-size: 14px;
    min-height: 14px;
    background-color: #323232;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    line-height: 22px;
    padding: 9px 12px;
    bottom: 0px;
    opacity: 0;
    text-align: center;
}

@media (min-width: 360px) {
    .paper-snackbar {
        min-width: 288px;
        max-width: 568px;
        display: inline-flex;
        border-radius: 2px;
        margin: 24px;
        bottom: -100px;
    }
}

@media (max-width: 640px) {
    .paper-snackbar {
        left: 0px;
        right: 0px;
    }
}

@media (max-height: 320px) {
    .paper-snackbar {
        padding: 4px 6px;
        font-size: 70%;
    }
}

.paper-snackbar .action {
    background: inherit;
    display: inline-block;
    border: none;
    font-size: inherit;
    text-transform: uppercase;
    color: #ffeb3b;
    margin: 0px 0px 0px 24px;
    padding: 0px;
    min-width: min-content;
}

/********************************************************************************
									LOADERS
*********************************************************************************/

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border: 16px solid #8F8F8F;
    border-radius: 50%;
    border-top: 16px solid red;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-height: 480px) {
    #loader {
        width: 50px;
        height: 50px;
        margin: -40px 0 0 -35px;
        border: 10px solid #8F8F8F;
        border-radius: 50%;
        border-top: 10px solid red;
    }
}

/********************************************************************************
									TOOLTIPS
*********************************************************************************/
.tooltip { /*intentionally empty*/
}

.tooltip .tooltipText {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 5px;
    position: relative;
    z-index: 1;
}

.tooltip:active .tooltipText {
    visibility: visible;
    left: 20%;
}




.section-icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;

    opacity: 0;
    transform: translateY(20px); /* Moves the element down */
    transition: opacity 1s ease-out, transform 1s ease-out;
}


.visible {
    opacity: 1;
    transform: none;
}




#categoryList {
    display: inline-grid;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0px !important;
    padding: 0px !important;
}


/**** Styles inactive categories ****/
#categoryList li {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: 2px solid #007bff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}


.disabled-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: #949494 !important;
    color: #fff;
    border: 2px solid #949494 !important;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
#categoryList li:hover{
    background-color: #0056b3;
    color: #fff;
}

@media only screen and (max-width: 320px) {
    #categoryList li {
        font-size: 80%;
    }

}

#categoryList li:last-child {
    border-bottom: none;
}

/**** Styles active categories ****/
#categoryList li a {
    display: block;
    color: white;
    font-weight: 700;
    text-decoration: none;
    transition: 0.5s;
}


.selectycategorybox{
    background-color: #e4e4e4; /* White background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Good shadow */
    padding:60px; /* Padding */
    width: fit-content;
    margin-top: 20px;
    /*
        border: 1px solid rgb(223, 223, 223); */
}

@media only screen and (min-width: 1024px) {
    #categoryList li a {
        padding: 0px;
    }
}


@media only screen and (max-width: 767px) {
    #categoryList {
        display: block;
        gap: 10px;
        align-items: center;
        justify-content: center;
        width: fit-content;
        margin: 0px !important;
        padding: 0px !important;
    }
}
#categoryList li a:hover {
    background-color: #0056b3;
    color: #fff;
}

#categoryList li a:active {
    background-color: black;
    color: white;
}
#firstPirateName
{
    border: 1px solid grey;
    padding: 10px 5px;
    border-radius: 6px;
    width: 100%;
}
#registerPiratesForm{
    background-color: #e4e4e4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px 30px 10px 30px;
    width: 55%;
    margin: auto;
    margin-top: 20px;
    /* border: 1px solid rgb(223, 223, 223);*/
}
#firstPirateEmail{
    border: 1px solid grey;
    padding: 10px 5px;
    border-radius: 6px;
    width: 100%;
}
#genderSelect{
    border: 1px solid grey;
    padding: 10px 5px;
    border-radius: 6px;
    width: 100%;
}

.custom-input{
    padding: 10px 10px !important;
    border-radius: 6px !important;
    border: 1px solid grey !important;
    background-color: white;
}

.custom-opions{
    color: rgb(116, 116, 116);
    background-color: lightgray;
    border: 1px solid darkgray;
    height: 80px;
    width: 80px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    font-size: 16pt;
    gap: 20px;
    margin: 20px 10px;
}

.custom-opions-form{
    display: flex;
    justify-content: center;
    background-color: white;
}
.custom-true{
    color: rgb(116, 116, 116);
    background-color: lightgray;
    border: 1px solid darkgray;
    height: 80px;
    width: 80px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    font-size: 16pt;
    gap: 20px;
    margin: 20px 10px;
    text-align: center;
}
.custom-false{
    color: rgb(116, 116, 116);
    background-color: lightgray;
    border: 1px solid darkgray;
    height: 80px;
    width: 80px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    font-size: 16pt;
    gap: 20px;
    margin: 20px 10px;
    text-align: center;
}

.btn-div{
    text-align: center;
}

.custom-opions:hover  {
    background-color: #0056b3;
    color: white;
}
.custom-false:hover  {
    background-color: #0056b3;
    color: white;
}
.custom-true:hover  {
    background-color: #2ed655;
    color: white;
}
.boolean-div{
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.custom-header{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid grey;
}

.skip-div{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
.score-div{
    display: flex;
    align-items: center;
    gap: 10px;
}
#score{
    background-color: rgb(202, 199, 199);
    padding: 5px 15px;
    height: 100%;
    color: #0056b3;
    border-radius: 4px;
}

.score-form-div{
    background-color: #e4e4e4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px 30px 30px 30px;
    width: 70%;
    margin-top: 20px;
}

#registerBubble {
    font-size: 100%;
    width: 60%;
    max-width: 300px;
    margin: 10px;
    float: left;
}

#scoreboardList{
    overflow-y: scroll;
    height: 500px;
}

.btn-primary {
    background-color: #28a745;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 10px black;
    transition: 1s;
    padding: 10px 20px;
    color: #fff;
    border: none;
    border-radius: 15px;
}

.btn-primary:hover {
    background-color: #218838;
}

.box {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    width: 60%;
    max-width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    color: #333;
    font-family: Arial, sans-serif;
}

.box h3 {
    color: rgba(119, 136, 153, 2.0);
    margin-top: 0;
}

.box p {
    line-height: 1.2;
    margin-bottom: 1rem;
}

.box-content {
    display: flex;
}

.box-icon {
    width: 250px;
    height: 100px;
    margin: auto;
}

.box-icon2 {
    width: 150px;
    height: 75px;
    margin: auto;
}

.box-content .box-icon {
    opacity: 0;
    transform: scale(0.85);
    transition: opacity 0.7s ease-in-out, transform 0.3s ease-in-out;
}

.box-content .box-icon.visible {
    opacity: 1;
    transform: scale(1);
}

.box-content .box-icon2 {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 1.2s ease-in-out, transform 0.3s ease-in-out;
}

/* State of the about image when it becomes visible */
.box-content .box-icon2.visible {
    opacity: 1;
    transform: translateX(0);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

