/* Body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow-x: hidden;
}

/* Styling for all div elements */
div {
    background-color: rgba(119, 136, 153, 0.5);
}

/* Styling for the header */
header {
    padding: 13.3px;
    padding-top: 40px;
    text-align: center;
    width: 90%;
    margin-left:auto;
    margin-right: auto;
}

/* Styling for header h1 */
header h1 {
    margin: 0;
    color: black;
    font-size: 30px;
}

/* Styling for h2 */
h2{
    color: black;
    outline-width: thick;
    position: relative;
    text-align: center;
    padding: 0 10px;

}

/* Styling for section paragraphs */
section p{
    color: black;
}

/* Styling for header paragraphs */
header p {
    font-size: 20px;
    margin: 20px 0px;
    color: black;
}

/* Styling for sections */
section {
    padding: 30px;
    border-bottom: 1px solid black;
    font-size: 20px;
    margin-top: 30px;
}

/* Styling for the footer */
footer {
    margin-top: 20px;
    padding: 20px;
}

/* Styling for social media links */
.social-links a {
    color: #007bff;
    text-decoration: none;
    margin: 0 10px;
}

/* Styling for social media links on hover */
.social-links a:hover {
    text-decoration: underline;
}

/* Styling for image container */
.image-container {
    text-align: center; /* Center the image container */
    background-color: rgba(0, 0, 0, 0);
}

/* Styling for images within image container */
.image-container img {
    width: 30%;
    height: 40%;
    display: inline-block;
    margin: 0 auto; /* Center the image horizontally */
}

/* Styling for pseudo element before image container */
.image-container::before {
    content: '';
    position: absolute;
    top: 13.5%;
    left: 0;
    right: 0;
    bottom: 30%;
    z-index: 1;
}

/* Styling for section icon */
.section-icon {
    width: 50px;
    height: 50px;
    margin-right: 20px;

    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Styling for visible section icons */
.visible {
    opacity: 1;
    transform: none;
}

/* Styling for menu button */
#menuBt {
    display: block;
    font-size: 34px;
    cursor: pointer;
    background: none;
    border: none;
    color: black;
    position: fixed;
    top: 22px;
    left: 22px;
    z-index: 1001;
}

/* Styling for burger menu */
#burgerMenu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    color: white;
    z-index: 1000;
}

/* Styling for burger menu navigation ul */
#burgerMenu nav ul {
    list-style-type: none;
    padding: 20px;
    text-align: center;
    margin: 100px 0 0;
}

/* Styling for burger menu navigation links */
#burgerMenu nav a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    display: block;
    padding: 15px;
    transition: background-color 0.3s ease;
}

/* Styling for burger menu navigation links on hover or focus */
#burgerMenu nav a:hover, #burgerMenu nav a:focus {
    background-color: #555;
}

/* Styling for burger menu navigation links on active */
#burgerMenu nav a:active {
    background-color: #333;
}

/* Styling for active menu button */
#menuBt.menu-active {
    color: white;
}

/* Media query for screens with a maximum width of 700px */
@media (max-width: 700px) {
    .image-container img {
        width:45%; /* Larger relative size for smaller screens */
    }
}

/* Styling for start button */
.startButton {
    background-color: royalblue;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 10px black;
    transition: 1s;
    padding: 10px 20px;
    color: black;
    border: none;
    border-radius: 15px;
}

/* Styling for start button on hover */
.startButton:hover {
    background-color: steelblue;
}

/* Styling for start button on active */
.startButton:active {
    background-color: rgba(0, 0, 0, 1);
}

/* Media query for screens with a minimum width of 320px */
@media only screen and (min-width: 320px) {
    .startButton {
        padding: 10px;
    }
}

/* Media query for screens with a maximum width of 490px */
@media only screen and (max-width: 490px) {
    header h1{
        font-size: 25px;
    }
    header p{
        font-size: 18px;
    }

    #menuBt {
        top: 5px;
        left: 5px;
    }
}

/* Media query for screens with a minimum width of 1024px */
@media only screen and (min-width: 1024px) {
    .startButton {
        padding: 20px;
        font-size: 130%;
    }
}

/* Styling for modal */
.modal {
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Styling for modal content */
.modal-content {
    margin: auto;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px;
}

/* Styling for close button */
.closebtn {
    text-decoration: none;
    float: right;
    font-size: 24px;
    font-weight: bold;
    color: inherit;
}

/* Styling for close button on hover or focus */
.closebtn:hover, .closebtn:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer
}

/* Media query for screens with a maximum width of 600px */
@media (max-width: 600px) {
    .modal-content {
        margin: 0 10px;
        width: auto !important;
    }

    .modal {
        padding-top: 30px;
    }
}

/* Media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
    .modal-content {
        width: 500px;
    }

    .modal {
        padding-top: 50px;
    }
}

/* Media query for screens with a minimum width of 993px */
@media (min-width: 993px) {
    .modal-content {
        width: 900px;
    }
}

/* Styling for modal container */
.modalContainer {
    padding: 0.01em 16px;
}

/* Styling for modal container after */
.modalContainer:after {
    content: "";
    display: table;
    clear: both;
}

