body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.main{
    width: 100%;

}
nav {
    background: cornflowerblue;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
    position: relative;
    height: 80px;
    align-items: center;
    top: 0;
}



/*home, menu, about etc. */
a {
    position: relative;
    color: white;
    font-size: 25px;
    text-decoration: none;
    transition: 0.5s all ease;
    padding-right: -10px;
}

ul {
    position: fixed;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 700px;
}

ul li {
    position: relative;
    float: left;
    padding: 0px 10px;
    list-style: none;
    text-align: right;
}


ul li a:hover {
    color: darkblue ;
}

button {
    position: absolute;
    display: block;
    width: 80%;
    border: none;
    background-color: cornflowerblue;
    border: 1px solid black;
    color: white;
    padding: 17px 30px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s all ease;
    margin-left: 150px;
    bottom: 10px;
}

button:hover {
    color: darkblue;
}